main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.flexbox {
  display: flex;
  flex-direction: column;
}

.flexbox > input {
  width: 60%;
}

form > div {
  margin-bottom: 10px;
}
